.bottom-9{
    position: relative !important;
    bottom: 0px !important;
    left: 0px!important;
    right: 0px !important;
    text-align: center !important;
    font-size: medium !important;
    background-color: 233349 !important;
}
.content{
    top: 100px;
    left: 0px ;
    right: 0px ;
    height: 100%;
    text-align: center;
}

.top{
  top: 0px;
  left:0px;
  right: 0px;
  text-align: right;
  z-index: 1;
}
.common{
    position: absolute;
    /* border: 5 px solid black;
    background-color: blanchedalmond; */
}
.square {
    width: 200px;
    height: 200px;
    background-color: #233349 !important;
  }
  .bigtext{
    font-size: xx-large;
  }

  .smalltext{
    font-size: large;
  }

  a{ color: cornflowerblue;}
  a:visited{ color:rgb(255, 255, 255); text-decoration: none;
 } 

 .font{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;

 }
 .center{
  text-align: center;
 }

 .header{
  font-style: oblique ;
  font-size: xx-large;
 }
 .work{
  display: inline-block;
  text-align: left;
 }

 .img{
  border: 5px black;
 }

.border{
  border: 10cm;
  border-color: black;
}